<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viva Las Vegas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1 class="title">Viva Las Vegas!</h1>
<div class="allhotels">
    <article class="hotel">
        <h1>###Hotel1### ###sterne###</h1>
        <img src="images/Bellagio.jpg" alt="Bellagio">
        <div class="list">
            <p>Informationen:</p>
            <ul>
                <li>###infos###</li>
                <li>###infos###</li>
                <li>###infos###</li>
            </ul>
            <p>Kontakt:</p>
            <ul>
                <li><span class="bold">Adresse: </span>###contact_address###</li>
                <li><span class="bold">Telefon: </span>###phone###</li>
                <li><span class="bold">Öffnungszeiten: </span>###contact_opening_hours###</li>
            </ul>
        </div>
    </article>

    <article class="hotel">
        <h1>###Hotel2### ###sterne###</h1>
        <img src="images/Paris.jpg" alt="Paris">
        <div class="list">
            <p>Informationen:</p>
            <ul>
                <li>###infos###</li>
                <li>###infos###</li>
                <li>###infos###</li>
            </ul>
            <p>Kontakt:</p>
            <ul>
                <li><span class="bold">Adresse: </span>###contact_address###</li>
                <li><span class="bold">Telefon: </span>###phone###</li>
                <li><span class="bold">Öffnungszeiten: </span>###contact_opening_hours###</li>
            </ul>
        </div>
    </article>

    <article class="hotel">
        <h1>###Hotel3### ###sterne###</h1>
        <img class="img1" src="images/Circa.jpg" alt="Circa">
        <div class="list">

            <p>Informationen:</p>
            <ul>
                <li>###infos###</li>
                <li>###infos###</li>
                <li>###infos###</li>
            </ul>
            <p>Kontakt:</p>
            <ul>
                <li><span class="bold">Adresse: </span>###contact_address###</li>
                <li><span class="bold">Telefon: </span>###phone###</li>
                <li><span class="bold">Öffnungszeiten: </span>###contact_opening_hours###</li>
            </ul>
        </div>
    </article>
</div>

</body>
</html>