<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viva Las Vegas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1 class="title">Viva Las Vegas!</h1>
<div class="allhotels">
    <article class="hotel">
        <h1>Hotel Bellagio&#9733; &#9733; &#9733; &#9733; &#9733;</h1>
        <img src="images/Bellagio.jpg" alt="Bellagio">
        <div class="list">
            <p>Informationen:</p>
            <ul>
                <li>5 Sterne (&#9733;&#9733;&#9733;&#9733;&#9733;)</li>
                <li>ab 205€ pro Nacht</li>
                <li>Kostenloses WLAN</li>
            </ul>
            <p>Kontakt:</p>
            <ul>
                <li><span class="bold">Adresse: </span>3600 S Las Vegas Blvd, Las Vegas, NV 89109,<br> Vereinigte Staaten</li>
                <li><span class="bold">Telefon: </span>+1 888-987-6667</li>
                <li><span class="bold">Öffnungszeiten: </span>Rund um die Uhr geöffnet</li>
            </ul>
        </div>
    </article>

    <article class="hotel">
        <h1>Hotel Paris &#9733; &#9733; &#9733; &#9733;</h1>
        <img src="images/Paris.jpg" alt="Paris">
        <div class="list">
            <p>Informationen:</p>
            <ul>
                <li>4 Sterne (&#9733;&#9733;&#9733;&#9733;)</li>
                <li>ab 80€ pro Nacht</li>
                <li>Kostenloses WLAN</li>
            </ul>
            <p>Kontakt:</p>
            <ul>
                <li><span class="bold">Adresse: </span>3655 S Las Vegas Blvd, Las Vegas, NV 89109,<br> Vereinigte Staaten</li>
                <li><span class="bold">Telefon: </span>+1 877-796-2096</li>
                <li><span class="bold">Öffnungszeiten: </span>Rund um die Uhr geöffnet</li>
            </ul>
        </div>
    </article>

    <article class="hotel">
        <h1>Hotel Circa &#9733; &#9733; &#9733; &#9733; &#9733;</h1>
        <img class="img1" src="images/Circa.jpg" alt="Circa">
        <div class="list">

            <p>Informationen:</p>
            <ul>
                <li>5 Sterne (&#9733;&#9733;&#9733;&#9733;&#9733;)</li>
                <li>ab 140€ pro Nacht</li>
                <li>Kostenloses WLAN</li>
            </ul>
            <p>Kontakt:</p>
            <ul>
                <li><span class="bold">Adresse: </span>8 Fremont Street Experience, Las Vegas, NV 89101, Vereinigte Staaten</li>
                <li><span class="bold">Telefon: </span>+1 702-247-2258</li>
                <li><span class="bold">Öffnungszeiten: </span>Rund um die Uhr geöffnet</li>
            </ul>
        </div>
    </article>
</div>

</body>
</html>