<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viva Las Vegas</title>
    <link rel="stylesheet" href="templates/style.css">
</head>
<body>

<h1 class="title">Viva Las Vegas!</h1>
<div class="allhotels">
    <article class="hotel">
        <h1>###Hotel1### ###sterne1###</h1>
        <img src="images/Bellagio.jpg" alt="Bellagio">
        <div class="list">
            <p>Informationen:</p>
            <ul>
                <li>###infos1###</li>
                <li>###infos2###</li>
                <li>###infos3###</li>
            </ul>
            <p>Kontakt:</p>
            <ul>
                <li><span class="bold">Adresse: </span>###contact_address1###</li>
                <li><span class="bold">Telefon: </span>###phone1###</li>
                <li><span class="bold">Öffnungszeiten: </span>###contact_opening_hours1###</li>
            </ul>
        </div>
    </article>

    <article class="hotel">
        <h1>###Hotel2### ###sterne2###</h1>
        <img src="images/Paris.jpg" alt="Paris">
        <div class="list">
            <p>Informationen:</p>
            <ul>
                <li>###infos4###</li>
                <li>###infos5###</li>
                <li>###infos6###</li>
            </ul>
            <p>Kontakt:</p>
            <ul>
                <li><span class="bold">Adresse: </span>###contact_address2###</li>
                <li><span class="bold">Telefon: </span>###phone2###</li>
                <li><span class="bold">Öffnungszeiten: </span>###contact_opening_hours2###</li>
            </ul>
        </div>
    </article>

    <article class="hotel">
        <h1>###Hotel3### ###sterne3###</h1>
        <img class="img1" src="images/Circa.jpg" alt="Circa">
        <div class="list">

            <p>Informationen:</p>
            <ul>
                <li>###infos7###</li>
                <li>###infos8###</li>
                <li>###infos9###</li>
            </ul>
            <p>Kontakt:</p>
            <ul>
                <li><span class="bold">Adresse: </span>###contact_address3###</li>
                <li><span class="bold">Telefon: </span>###phone3###</li>
                <li><span class="bold">Öffnungszeiten: </span>###contact_opening_hours3###</li>
            </ul>
        </div>
    </article>
</div>

</body>
</html>